$primary1: #AEB9F2;
$primary2: #88AABF;
$primary3: #A7BDD9;
$primary4: #5b666c;
$neutral1: #F0F2F2;
$neutral2: #BDD9F2;


@mixin hover_img {
    opacity: 40%;
    transition: 0.3s;
    transform: scale(1.1);
}


$body-font-family:'Ubuntu', sans-serif;
$body-font-family1:'Smooch', cursive;

* {
    margin: 0px;
    padding: 0px;
}


.heading {
    display: flex;
    justify-content: center;
    margin: 1vw;
    color: $primary2;
    font-size: 3em;
    text-shadow: 0.5px 0.5px $primary4;
}

.nav-social {
    display: flex;
    margin: 1vw;
    img {
        width: 40px;
        margin: 10px;
        filter: opacity(20%);
    }
    img:hover {
        filter: opacity(100%);
    }
    a:hover {
        transition: 0.3s;
        transform: translateY(-3px);
        filter: drop-shadow(2px 2px grey);
    
        // HERE
    }
}

nav {
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        li {
            border-radius: 20%;
            padding: 1.5vw;
            margin: 1vw;
            font-size: 1.5em;
            color: #35383a;
            

            a{
                color: $primary4;
                text-shadow: 0.5px 0.5px $neutral2;
                text-decoration: none;
            }
    }
    li:hover{
        background-color: $primary2;
        transition: 0.3s;
        }
    li.active{
        background-color: $primary2;
    }
}
}

body {
    font-family: $body-font-family;
    margin: 2vw;
    min-height: calc(100vh - 4vw);
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0),$primary2);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.about-box {
    margin: 3rem 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .head-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 1vw;
    }
    p {
        text-align: center;    
    }
}


div{
    form {
        display: flex;
        justify-content: flex-end;
.button {
    background-color: $primary1;
    padding: 0.5vw;
    border-radius: 20%;
    border: none;
    margin: 2vw;
    cursor: pointer;
}
} 
button:hover {
    background-color: $primary2;
}
}


h2{
    margin: 1vw;
    color: $primary2;
    text-shadow: 1px 1px $primary4;
}

section.cv {
    padding: 0.3vw;
    font-weight: bold;
    margin-bottom: 2vw;
    h2 {
        margin-top: vw;
    }
    li {
        margin: 0 2vw;
    }
    p {
        margin: 0 1vw;   
    }
}


.contact-box {
    display: flex;
    align-items: center;
    flex-direction: column;
        h1 {
        text-align: center;
    }
        .contact-form {
            width: fit-content;
            margin: 1rem 10rem 5rem 10rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        
        #input-message {
            height: 300px;

                    }
            }
            form {
                button {
                    color: $primary1;
                    background-color:green;
                }
                button:hover {
                    color: #AEB9F2;
                }    
            }

}


td {
    padding-left: 1vw;
}

div.blog-post {
    border: 2px dotted red;
    // HERE
    h2{
        text-shadow:none;
            }
            h5 {
                font-size: 0.7em;
                color: #5b666c;
                margin: 1vw;
                border: 2 px dotted;
            }
    .picture-post { 
    display: flex;
    }
        img {
        width: 200px;
        border-radius: 25%;
        }
        p {
        }
        img:hover {
        @include hover_img;
        }

    }

footer {
        display:flex;
        justify-content: flex-end;
        font-size: 0.7em;
        letter-spacing: 0.05em;
        color: #35383a;
        margin-top: auto;
}