/* // color pallete  */

$primary1: #AEB9F2;
$primary2: #88AABF;
$primary3: #A7BDD9;
$primary4: #5b666c;
$neutral1: #F0F2F2;
$neutral2: #BDD9F2;

/* // flex all center */
@mixin column_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* // hover image rules */
@mixin hover_img {
    opacity: 40%;
    transition: 0.3s;
    transform: scale(1.1);
}

/* // used font */
$body-font-family:'Ubuntu',
sans-serif;
$body-font-family1:'Smooch',
cursive;

* {
    margin: 0px;
    padding: 0px;
}