/* Navigation menu */

/* Social links */
.nav-social {
    display: flex;
    margin: 1vw;

    img {
        width: 40px;
        margin: 10px;
        filter: opacity(20%);
    }

    img:hover {
        filter: opacity(100%);
    }

    a:hover {
        transition: 0.3s;
        transform: translateY(-3px);
        filter: drop-shadow(2px 2px grey);
    }
}

/* Heading section */
.heading {
    display: flex;
    justify-content: center;
    margin: 1vw;
    color: $primary2;
    font-size: 3em;
    text-shadow: 0.5px 0.5px $primary4;
}

// Navigation menu
.menu {

    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;

        li {
            border-radius: 20%;
            padding: 1.5vw;
            margin: 1vw;
            font-size: 1.5em;
            color: #35383a;

            a {
                color: $primary4;
                text-shadow: 0.5px 0.5px $neutral2;
                text-decoration: none;
            }
        }

        li:hover {
            background-color: $primary2;
            transition: 0.3s;
        }

        li.current-link {
            background-color: $primary2;
        }

        /*         Drop down menu on smaller screens */
        @media only screen and (max-width: 720px) {
            position: relative;
            display: block;
            left: 0;
            top: 0;
            background-color: $primary1;
            text-align: center;
            width: 100%;

            a {
                font-size: 3em;
            }

            .current-link {
                font-size: 5em;
            }
            
            li {
            border-radius: 0%;
            }

        }
    }
}

/* // Hamburger menu icon */

#hamburger-menu-label {
    display: none;

    @media only screen and (max-width: 720px) {
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 200;
        color: $primary4;
        float: right;
        margin: 0 1vw 1vw 0vw;
        font-size: 70px;
        line-height: 1.5rem;
    }
}

#checkbox-toggle {
    display: none;
}

.menu-items {
    display: none;
}

#checkbox-toggle:checked+.menu-items {
    display: block;
    position: fixed;
    width: 96%;


}